<!DOCTYPE html>
<html>
  <head>
    <title>FamilyPortrait</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if current_user %>
  <%= link_to('登出', destroy_user_session_path, :method => :delete) %>
<% else %>
    <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
<div class="grass-bg full-height">
    <%= yield %>
</div>
  </body>
</html>
